

<% case profile.provider %>
<% when "youtube" %>
<script src="https://apis.google.com/js/platform.js"></script>

<div class="g-ytsubscribe" data-channelid="UCThcEUlNRJOaBymHsFYffTw" data-layout="default" data-count="default"></div>
<% end %>
