
  <div class="cardset">

    <div class="container">
      <div class="row">
        <div class="titlecard">
        <% if @user.name && @user.name.length > 0 %>
          <h1><%= "#{@user.name.capitalize}'s Activity This Week" %></h1>
        <% else %>
          <h1><%= "#{@user.username.upcase}'s Activity This Week" %></h1>
        <% end %>
      </div>

        <% @feed.each do |item| %>
          <%= render partial: 'feed_item', locals: {item: item}%>
        <% end %>

        <%= link_to user_page(@user) do  %>
          <div class="unid_button">
            <p> &lt; BACK</p>
          </div>
        <% end %>

      </div>

    </div>

</div>
