<!-- <%= link_to "Edit User", edit_user_path(@user.username), class: "btn btn-success" %> -->

  <div class="cardset">
    <div class="container">
      <div class="row">

        <% @feed.each do |item| %>
          <%= render partial: 'feed_item', locals: {item: item}%>
        <% end %>

        <%= link_to user_page(@user) do  %>
          <div class="unid_button">
            <p> &lt; BACK</p>
          </div>
        <% end %>

      </div>

    </div>

</div>
