<div class="addcards cardset">
  <h1 class="text-center whitetext">Add cards to your profile!</h1>
  <div class="container">
    <div class="row">

      <%= render partial: "buttons" %>


              <%= link_to user_page(@user) do  %>
                <div class="unid_button back_button">
                  <p> &lt; BACK</p>
                </div>
              <% end %>

    </div>
  </div>
</div>

<div class="fadeInForm" id= "otherWindow">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a class='form_close', href='#'>x</a>
  <%= render partial: 'profiles/card_form', locals: {profile: @profile} %>
<div>
