<div id="twitch_card">
  <link rel="JavaScript" href="/javascripts/livebug.js">

  <script type="text/javascript" charset="utf-8">
  var twitch = true
  var twitch_username = "<%= profile.name %>";
  </script>

</div>
