<div class="newbiecard <%#= profile.provider %>">


      <h1>Welcome to uniD!</h1>

      <br>
      <br>
      <br>

      <p>You can start adding profiles by clicking the "add" button on the bottom right.</p>

      <p>It's the white one. With the plus. There you go.</p>

</div>
