<div class="cardset editpage">

  <h2 class="text-center whitetext">Update Your Account</h2>

    <%= render partial: 'edit_form', locals: {user: @user} %>

<<<<<<< HEAD
  <%= link_to "Delete My Account", "/#{current_user.username}/delete" %>
=======
>>>>>>> master
</div>
