<h1>TERMS OF SERVICE</h1>

<p>This software is provided as is, with no guarantees, implicit or otherwise.</p>
<p>All information is considered confidential and will not be shared with anyone on the users behalf.</p>
<p>The uniD team is not responsible for any loss or damage incurred through use of the uniD platform.</p>
