
  <h2>Forgot Your Password?</h2>
  <%= form_tag auth_reset_password_path do %>
    <div class="field">
      <%= label_tag :email %><br/>
      <%= text_field_tag :email, params[:email] %>
    </div>
    <div class="actions"><%= submit_tag "Reset Password" %></div>
  <% end  %>
