<br>
<br>
<br>


<h1 style='text-align:center'>TERMS OF SERVICE</h1>

<p style='text-align:center'>This software is provided as is, with no guarantees, implicit or otherwise.</p>
<p style='text-align:center'>The uniD team is not responsible for any loss or damage incurred through use of the uniD platform.</p>
<p style='text-align:center'>'The uniD team reserves the right to deny or suspend service for any reason, and generally should not be used by anyone.'<p>
