/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

// Note: Consolidate/refactor styles into appropriate sub-stylesheets for better readability/coherency.

 #slider {
   position: absolute;
   z-index: 100;
   padding-left: 0px;
 }

 .avatar {
   margin-left: 5.5rem;
   display: inline;
   border-color: lightgray;
   border-width: thin;
   border-radius: 8px;
   max-width: 170px;
   max-height: 300px;
 }

 .bio {
   text-size: 16px;
   padding-top: 10px;
   text-align: center;
 }

 body{
   height: 100vh;
   background-image: url(http://i.imgur.com/kIT55At.png);
   background-repeat: no-repeat;
   background-position: center;
   margin-top: 0%;
   background-color: #EEEEEE;
   display: block;
   color: #333333;
   font-family: 'Raleway', sans-serif;
  }

  .card {
   width: 90%;
   height: 100px;
   padding: 5%;
   border-style: outset;
   border-width: 1px;
   position: relative;
   margin: auto;
   margin-bottom: 20px;
   color: white;
   background-color: rgba(10, 130, 140, 0.7);
   border-radius: 5px;
   border-color: darkgrey;
  }

.feedpic{
   width: 80px;
   height: 80px;
   padding-bottom: 0%;
   position: absolute;
   top: 10px;
   left: 10px;
   border-style: outset;
   border-color: gray;
   border-radius: 5px;
 }


.feedtext {
  padding-left: 100px;
  width: 100%;
  display: inline-block;
}

.feedcard {
  width: 90%;
  padding: 5%;
  border-style: outset;
  border-width: 1px;
  position: relative;
  margin: 2%;
  color: white;
  background-color: rgba(10, 130, 140, 0.7);
  border-radius: 5px;
  border-color: darkgrey;
  height: 12em;
  overflow: hidden;

  .submit_button {
    position: absolute;
    left: 10px;
    bottom: 10px;
    border-radius: 0px;
  }

  a {
    color: lightblue;
  }

}

.titlecard {
  max-width: 80%;
  padding: 5%;
  padding-left: 2%;
  position: relative;
  color: white;
  height: 8em;
  text-align: left;

  h1 {
    margin: 0;
    line-height: 0px;
  }
}

  .hidden-card{
   display: none;
   padding: 5%;
   border-style: outset;
   border-width: thin;
   position: relative;
   margin: 2%;
   color: white;
   background-color: rgba(0, 100, 110, 0.7);
   border-radius: 5px;
   border-color: turquoise;
  }

  .card_form{
   display: none;
   padding: 5%;
   border-style: outset;
   border-width: thin;
   position: relative;
   margin: 2%;
   color: white;
   background-color: rgba(0, 100, 110, 0.7);
   border-radius: 5px;
   border-color: turquoise;
  }

  .contact-bg{
    position: relative;
    background-color: #000;

    .pentagram{
      position: relative;
      // z-index: 0;
      max-width: 512px;
      margin: auto;

      img.fg{
        position: absolute;
        z-index: 1;
        border-radius: 25px;
        border-width: 25px;
        border-color: black;
      }

      img.bitmaker{
        top: 231px;
        left: 231px;
      }

      img.qduck{
        top: 170px;
        left: 80px;
      }

      img.samiam{
        top: 170px;
        right: 80px;
      }

      img.ixeres{
        top: 60px;
        left: 231px;
      }

      img.parapax{
        top: 370px;
        left: 140px;
      }

      img.mahinko{
        top: 370px;
        right: 140px;
      }

    }

    h1 {
      color: #fff;
      margin-top: 0;
      text-align: center;
    }
  }

  .display-link {
    color: white;
  }

  .newbiecard {
    text-align: center;
    padding: 5%;
    border-style: outset;
    border-width: thin;
    position: relative;
    margin-top: 3%;
    color: white;
    background-color: rgba(0, 100, 110, 0.7);
    border-radius: 5px;
  }

  .newbiecard p {

    font-size: 20px;
  }

    .add_card{
      height: 60px;
    }

    #add_cards_title {
    margin-left: 85px;
    margin-bottom: 25p
    x;
    }

    .card a{
      color: lightblue;
    }


  .card_names{
    font-size: 1.2em;
  }

  .handle {
  right: -8px;
  // padding: 10px;
  position: absolute;
  top: 0px;
  width: 20px;
  }

  .cardset {
    margin: auto;
    max-width: 80%;
    min-height: 500px;
    margin-top: 0%;
    position: relative;
    top: 25%;
    background-color: rgba(0,160,200,.3);
    box-shadow: 0px 2px 6px 1px grey;
    border-width: thin;
    border-radius: 15px;
    padding-top: 60px;
    padding-bottom: 10px;

    &.addcards {
      padding-top: 25px;
      padding-bottom: 25px;
    }

  }

.follow-button{
  position: absolute;
  bottom: 10px;
  left: 10px;
}

  .edit_delete_glyphs {
    display: inline;
      font-size: 16px;
      max-width: 60px;
      position: absolute;
      right: 7px;
      bottom: 4px;
      border-radius: 3px;
    }

  .glyphicon_hover {
    &:hover {
      color: #EEEEFF !important;
      text-decoration: none;
      border-radius: 3px;
    }
  }

  .edit_page_avatar {
    max-height: 380px;
    border-radius: 10px;
  }

  .submit_button {
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .edit_page_card {
   font-size: 24px;
   padding: 5%;
   max-width: 60%;
   border-style: outset;
   border-width: 1px;
   position: relative;
   margin: auto;
   margin-top: 3%;
   color: lightblue;
   background-color: rgba(10, 130, 140, 0.7);
   border-radius: 5px;
   border-color: darkgrey;

  }
  #user_avatar {
    display: none;
  }
  .avatar-file-field {
    margin-top: 20px;
  }

  .findbutton {
  }

  .field textarea {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .unidcorn_new {
    max-width: 230px;
    position: absolute;
    right: 50px;
    top: 50px;
    border-radius: 3px;
  }

  .unidname {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto !important;
    align-content: center;
  }

  .list.description {
    color: white;
  }

  @media (max-width: 1476px) {
    .cardset {
      max-width: 90%
    }
  }

  @media (max-width: 1276px) {
    .cardset {
      max-width: 100%;
      margin-top: 70px;
    }
    .card {
      margin: 2%;
      min-width: 300px;
    }

  }

  @media (max-width: 1000px) {
    .cardset {
      max-width: 100%;
      padding: 10px;
      top: 0;
      overflow: visible;
    }

    .card {
      min-height: 140px;
    }
  @media (max-width: 801) {
    body {
      background-position: top;
    }
  }

  }


  #flash_box {
      margin: auto;
      display: inline-block;
      background-color: rgba(30,30,30,0.8);
      text-align: center;
      z-index: 10;
      color: white;
  }

  .fadeInForm {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(30,30,30,0.8);
      text-align: center;
      z-index: 500;
      color: white;
  }

  .form_close {
    max-width: 60%;
    margin: auto;
  }

  .form_close > a {
    color: lightblue;
    font-size: 2em;
    float: right;
  }
    .form_close > a:hover{
      text-decoration: none;
      color: lightblue;
    }

  input.file_field {
    display: inline-block;
  }

  li {
    list-style: none;
    white-space: nowrap;
    padding-left: 0%;
      }

  .login_info {
    float: right;
  }

  .glyphicon-log-out {
      font-size: 20px;
      color: gray;
  }

  .glyphicon-magnet {
      font-size: 20px;
      color: gray;
  }


  ul.nav {

    &.navbar-right {

      li {
        max-width: 100%;

        &:first-child {
          padding-top: 15px;
        }

        &:last-child {
          a {
            padding: 10px 14px;
          }
        }
      }
    }

    li,
    li.active {
      display: block;

      a {
        display: block;

        &:hover {
          color: white !important;
          background-color: #A7D7E3 !important;

        }
      }
    }

    a {
      color: #5a5a5a;
      font-size: 26px;
      font-weight: bold;
      padding: 14px;
      text-transform: uppercase;
    }

    a.smalltext {
      color: teal;
      font-size: 14px;
      padding: 1px;
      text-transform: none;
      padding-right: 3px;
    }

    li a.smalltext {
      padding-top: 0px;
    }

    .dropdown-menu {
      li {
      display: block;
      }
    }


  }

  .navbar-default {
    margin-bottom: 0%;
  }

  #navbar-search {
  display: inline;
  width: 69%;
  padding-right: 0px;
}

  .bottom_links {
    margin-top: 40%;
  }


  .navbar-brand {
    font-family: orbitron;
  }

  .navbar-brand:hover {
    color: white !important;
    background-color: #A7D7E3 !important;
  }


  .navbar-form {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 200px;

    &.is-visible {
      margin-top: 8px;
      margin-bottom: 8px;
    }

  }

  //VERTICAL SIDEBAR STYLES

  #slidetrigger {
    background-color: white;
    border: none;
    font-size: 2em;
  }

  .container-fluid {
    padding: 0;
    background-color: white;
    border-radius: 3px;
  }

  .navbar-fixed-left {
    width: 28rem;
    position: fixed;
    height: 100%;
    background-color: white;
    border: none;
  }

  .navbar-fixed-left .navbar-nav > li {
    float: none;  /* Cancel default li float: left */
    width: 139px;
  }

  .navbar-fixed-left + .container {
    padding-left: 160px;
  }

  .navbar-inverse {
    background-color: white;
  }

  .navbar-collapse {
    margin-left: 0%;
    padding-left: 0px;
  }

  .sidebar-links {
  margin-left: 1%;
  padding-left: 0%;
  color: #5a5a5a;
  font-size: 26px;
  font-weight: bold;
  padding: 14px;
  text-transform: uppercase;
  text-decoration: none;
  }

  .sidebar-list {
    width: 100%;
    padding: 0px;
    border-width: thin;
    &:hover {
        background-color: rgb(167, 215, 227);
        text-decoration: none;
    }
  }


 // profile images on the individual cards
 .profile_pic{
  width: 64px;
  height: 64px;
  padding-bottom: 0%;
  position: absolute;
  position-bottom: 20px;
  border-style: outset;
  border-color: gray;
  border-radius: 5px;
  }

  .profileButtons {
    text-align: center;
  }
    .profileButtons td {
      padding: 10px;
    }
    .profileButtons td {
      width: 20%;
    }

  .provider_icon {
    max-width: 40px;
    position: absolute;
    right: 4px;
    top: 4px;
    border-radius: 3px;
  }

  #log {
    cursor: pointer;
  }

  #sign {
    cursor: pointer;
  }

  .login_icon {
    max-width: 40px;
    border-radius: 3px;
    margin-left: auto;
  }

  .icon_container {
    max-width: 60px;
    display: inline-block;
  }

  .social_login_container {
    background-color: rgba(0, 100, 110, 0.7);
    border-radius: 5px;
    border-color: turquoise;
  }

  .social_login_container a {
    color: white;
    text-decoration: none;
  }

  .social_login_container:hover {
    color: black;
    cursor: pointer;
  }

  .login_link_container {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;

    z-index: 1;
  }

  .row {
    list-style-type: none;
  }

  .user_avatar{
    float: left;
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 2px solid;
    border-radius: 4px;
  }

  .unid_username{
    padding-left: 20px;
    float: left;
    display: inline-block;
    position: relative;
    font-size: 40px;
    margin-left: 0%;
    margin-top: 5%;
  }

  .unid_button{
    margin-right: 3%;
    margin-bottom: 3%;
    margin-top: 2%;
    border: 3px solid #f3f3f3;
    display: inline-block;
    padding: 4px;
    float: right;
    // bottom: 0px;
    // right: 130px;
    color: #f3f3f3;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;

    &.back_button {
      margin-right: 7%;
      margin-bottom: 0%;
      margin-top: 0%;    }
  }

  .unid_button:hover {
    color: teal;
    border: 3px solid teal;
  }

  .unid_button a{
    color: #f3f3f3;
  }

  .unid_button p{
    margin: 0;
  }

  ul {
    display: inline-block;
    list-style: none;
    padding-left: 0%;
  }
  .twitch-status {
    position: absolute;
    bottom: 6px;
    left: 8px;
  }

  #forgot-password-link{
    font-size: 1rem;
    color: lightblue;
  }

  #delete-account-link{
    font-size: 1.7rem;
    color: lightblue;
  }

  #forgotPasswordDiv{
  display: none;
  }
  .home{
    text-align: center;
    // display: block;
    // max-width: 45%;
    margin: auto;
  }
  .home h1 {

    margin: auto;

  }
  .home h2 {
    display: inline-block;
  text-align: center;
  padding: 20px;
  // background-color: white;
  z-index: 15;
  // border: solid white 1px;
  width: 200px;
  max-height: 75px;
  margin: 2%;
}
.home div {
  cursor: pointer;
  min-width: 60%;
  // background-color: white;
  // border: solid white 1px;
  z-index: 10;
  margin: auto;
}

  .editpage {
    padding: 5px;
    padding-bottom: 50px;
    top: 14%;
  }

input {
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
}


  .no-display {
    display: none;
  }

#fbPost {
  font-size: 1rem;
  position: relative;
  background: white;
  color: black;
  padding: 20px;
}

.toggle_search {
  box-sizing: border-box;
  display: inline-block;
  color: grey;
  width: 68px;
  height: 68px;
  margin-right: 15px;
  color: grey;
}

.toggle_search .glyphicon {
  font-size: 40px;
  padding: 10px;
  display: block;
  margin: auto;
}

.toggle_search:hover {
    color: white;
    background-color: #A7D7E3;
  }
#search-form {
  display: none;
  max-width: 155px;
}

.whitetext {
  margin-top: 4px;
  padding-top: 25px;
  color: #FFFFFF;
}

.largecard {
  padding: 1.25%;
  box-sizing: border-box;
  border-style: outset;
  border-width: 1px;
  margin: auto;

  color: white;
  background-color: rgba(10, 130, 140, .7);
  border-radius: 5px;
  border-color: darkgrey;

  position: absolute;
  display: none;
  height: 83px;
  z-index: 500;
  overflow: hidden;
}

.largecard p {
  max-width: 250px;
  overflow: hidden;
}

.largecard a {
  color: lightblue;
  // position: absolute;
}

.card_names {
  margin-left: 70px;
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    color: lightblue;
}


div.calendar{
  zoom: 45%;
  border: 0px;
  position: relative;
  text-align: center;
  padding-right: 125px;
  padding-top: 80px;
  margin-left: -150px;
}

.calendar span{
  display: none;
}
.contrib-footer {
  display: none;
}
.contrib-column * {
  display: none;
}
.contrib-column {
  display: none;
}
.table-column{
  display: none;
}
div.contrib-column {
  display: none;
}
.right-container {
  float: right;
  width: 200px;
  & > ul {
    list-style: none;
    padding: 0;
  }
}

.right-container li {
  right: 25px;
}

.signin_status {
  position: relative;
  float: left;
  top: 0;
  right: 25px;
  z-index: 100;
}

#unid-logo {
  position: absolute;
  font-family: orbitron;
  font-weight: bold;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 10px;
  position: relative;
  text-decoration: none;
    &:hover {
      border-color: darkgray;
      background-color: lightblue;
      color: white;
      text-decoration: none;
    }
}
