<div class="card">
  <h2><%= profile.name %></h2>
  <img src="<%= profile.image %>" alt="Profile Pic">
  <ul>
    <% case profile.provider %>
    <% when 'twitter' %>
      <li>Twitter account</li>
      <li>@<%=profile.nickname%></li>
    <% when 'google_oauth2' %>
      <li>Google account</li>
    <% else %>
      <li>Other account</li>
      <li>profile.url</li>
    <% end %>
  </ul>

</div>
