<h1>Welcome To UnID!</h1>

<p><% if current_user %>

  <%= current_user.email %>

  <% end %>
</p>

<%= render partial: "sessions/login_form" %>
<%= render partial: "sessions/resetpassword" %>
<%= render partial: "users/signup", locals: { user: @user } %>
