<!-- <%= link_to "Edit User", edit_user_path(@user.username), class: "btn btn-success" %> -->

  <div class="cardset">
  <div class="container">
    <div class="row">
      <% @user.profiles.each do |profile| %>
      <%= render partial: 'card', locals: {profile: profile}%>
      <% end %>
  </div>
  </div>

<% if current_user && current_user == @user %>

<div class="unid_button"><%= link_to "Add A New Card", new_user_profile_path(current_user), class: "btn btn-success" %></div>

<% end %>
