<h1><%= @user.username.capitalize %></h1>

<ul>
  <% @user.profiles.each do |profile| %>
  <li><%= profile.name %></li>
  <% end  %>
</ul>

<% if current_user && current_user == @user %>

<%= link_to "edit", edit_user_path(@user.username) %>

<% end %>
