/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 // everything

 // header{
 //    position: fixed;
 //   /*display: inline;*/
 //    width: 100%;
 //    border-bottom-style: outset;
 //    margin-bottom: 10px;
 //    height: auto;
 //    z-index: 1;
 //    background-color: rgba(80, 000, 140, 0.6);
 //    top: 0;
 //  }

 .card a{
   color: lightblue;
 }

 body{
   background-image: url(http://i.imgur.com/S0ISIvD.png);
   background-repeat: no-repeat;
   background-position: center;
   // margin-top: 10%;
   background-color: #EEEEEE;
   display: block;
   color: #333333;
   font-family: 'Raleway', sans-serif;
  }

  .user_avatar{
    float: left;
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 2px solid;
    border-radius: 4px;
  }

  .unid_username{
    padding-left: 20px;
    float: left;
    display: inline-block;
    position: relative;
    font-size: 40px;
    margin-left: 0%;
    margin-top: 5%;
  }

  .login_info
  {
    float: right;
  }

  .card{
   padding: 5%;
   border-style: outset;
   border-width: thin;
   position: relative;
   margin: 2%;
   color: white;
   background-color: rgba(0, 25, 30, 0.8);
   border-radius: 5px;
  }

  .cardset {
    max-width: 80%;
    margin: auto;
  }
  //
  // .col-md-4 {
  //   max-width: 32%;
  // }


  .card h2{
    padding: 2%;
    margin-top: 2%;
  }

  .row {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
  }

 // profile images on the individual cards
 .profile_pic{
   width: 64px;
  //  height: 64px;
  padding-bottom: 0%;
  position: relative;
  position-bottom: 20px;
  // float: left;
  }

  .unid_button{
    position: relative;
    margin-left: 13%;
    margin-bottom: 3%;
  }

  .fadeInForm {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(30,30,30,0.8);
      text-align: center;
  }

  // .card {
  //     display: block;
  //     width: 400px;
  //     height: 18em;
  //     padding: 2em;
  //     background-color: #b9c2cc;
  //     position: absolute;
  //     margin: auto;
  //     top: 0;
  //     bottom: 0;
  //     left: 0;
  //     right: 0;
  // }
.form_close {
  color: red;
  font-size: 2em;
}
.form_close:hover{
  text-decoration: none;
  color: red;
}
.profileButtons {
  text-align: center;
}
.profileButtons td {
  padding: 10px;
}
.profileButtons td {
  width: 20%;
}

  // provider classes for cards

  .github {
    border-color: #888888;
  }

  .google {
    border-top-color: red;
    border-left-color: yellow;
    border-bottom-color: #00FF22;
    border-right-color: blue;
  }

  .linkedin {
    border-color: teal;
  }

  li {
    // display: inline-block;
    list-style: none;
    white-space: nowrap;
    max-width: 50%;
    padding-left: 0%;
  }

  ul {
    display: inline-block;
    list-style: none;
    // max-width: 50%;
    padding-left: 0%;
  }

  .tumblr {
  border-color: #36465D;
  }

  .twitch {
    border-color: #4b367c;
  }

  .twitter {
    border-color: #1b97e3;
  }

  .youtube {
    border-color: #d32323;
  }

  .no-display {
    display: none;
  }
